
############################
# Snakemake runtime files
############################
.snakemake/
*.snakemake.log

############################
# annotation
############################
annotation/**
!annotation/**/
!.gitkeep

############################
# Data
############################
data/**
!data/**/
!.gitkeep

############################
# Large bioinformatics files
############################
*.fq
*.fq.gz
*.fastq
*.bam
*.sam

############################
# Conda / mamba
############################
.envs/
conda/
mambaforge/

############################
# R
############################
.Rhistory
.RData

############################
# Python
############################
__pycache__/
*.pyc

############################
# OS
############################
.DS_Store

